/* #2 #colorful #palette is:
    * Background: #F5F5F5 (GREY 100)
    * Primary Text: black

    * Primary color: #3F51B5 (INDIGO)
    * Primary color_text : white
    * Accent color: #CDDC39 (LIME)
    * Accent color_text: black
    */

/*global styles */
* {
    /* global font style */
    font-family: "Roboto", sans-serif;
    /*removing the ugly spacing between all elements*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;   
}

/*to remove redundancies, a class of "uppercase" for links and buttons is introduced"*/
.uppercase{
    text-transform: uppercase;
}


/*App bar styles*/
.app-bar{
    background-color: #3F51B5;
    color: white;
}
.app-bar a {
    color: white;
}


/*Channels list styles*/
h2 {
    background-color: white;
}

li {
    list-style-type: none;
    padding: 16px;
    font-size: 16px;
    height: 48px;
    background-color: white;
    border-bottom: 1px solid #F5F5F5;
}

.channels img {
    position: relative;
  /* Adjust these values accordingly */
     top: 5px;
    left: 5px;
}

.channels .selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}


/*Tab bar styles*/
#tab-bar {
    background-color: white;
}

#tab-bar button {
    text-align: center;
    background-color: white;
    border: none;
    font-size: 13px;
    height: 72px;
    text-transform: uppercase;
    width: 33%;
    padding: 16px;
}

#tab-bar .selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

#tab-bar img {
    display: block;
    margin: auto;
    padding-bottom: 4px;
}


/*Messages styles*/
.message {
    max-width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
    font-size: medium;
}

h3 {
    /* #2 #font #metadata is now medium */
    font-size: medium;
}

.own-message{
    margin-left: 17.5%;
}

.message button {
    text-transform: uppercase;
    background-color: #CDDC39;
    color: black;
}

.message p {
    background-color: white;
    padding: 16px 0px 16px 0px;
}

.message a{
    color: black;
}

em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}

